# General Docker settings
COMPOSE_PROJECT_NAME=ecommerce_analytics

# Postgres (Airflow Metadata DB)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow_pass
POSTGRES_DB=airflow
POSTGRES_PORT=5435

# Airflow
AIRFLOW_IMAGE_NAME=apache/airflow:2.8.1-python3.10
AIRFLOW_UID=50000
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin_pass
AIRFLOW_EMAIL=admin@example.com
AIRFLOW_WEBSERVER_PORT=8085

# MinIO
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_admin_pass
MINIO_PORT=9002
MINIO_CONSOLE_PORT=9003
MINIO_BUCKET_NAME=ecommerce-raw

# Kafka
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093

# ClickHouse
CLICKHOUSE_USER=clickhouse_admin
CLICKHOUSE_PASSWORD=clickhouse_admin_pass
CLICKHOUSE_DB=ecommerce
CLICKHOUSE_HTTP_PORT=8124
CLICKHOUSE_PORT=9004

# Superset
SUPERSET_USER=admin
SUPERSET_PASSWORD=admin_pass
SUPERSET_PORT=8089
SUPERSET_SECRET_KEY=94c8e7629b3a985f9e2b109e25d487ae
